.defaultStyle {
    border: 1px solid black;
    width: 100% !important;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.fullWidth {
    width: 100% !important;
}

.defaultStyle:hover {
    background-color: #CFDFE3;
}

.defaultStyle:focus {
    background-color: #CFDFE3;
}