# This is a template for the .env file that is required

# Define the environment that Django should run: local | production | test
DJANGO_SETTINGS_MODULE='config.django.{ENVIRONMENT_NAME}'

# Run in debug mode? (Dangerous in production): True | False
DJANGO_DEBUG=True

# Django secret key
DJANGO_SECRET_KEY=secret

# MariaDB config
DB_NAME=db_name
DB_USER=User_Name
DB_PASSWORD=Password
DB_HOST=localhost
DB_PORT=3306

# Maria db config for newsletter database
NEWSLETTER_DB_NAME=newsletterdb
NEWSLETTER_DB_USER=User_Name
NEWSLETTER_DB_PASSWORD=Password
NEWSLETTER_DB_HOST=localhost
NEWSLETTER_DB_PORT=3306

EMAIL_HOST_USER= Will add in teams..
EMAIL_HOST_PASSWORD= Will add in teams..